body, html, #root{
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100%;
  width: 100%;
}

.flip{
  animation-name: flipFish;
  animation-duration: 0.3s;
  animation-timing-function: linear;
}

@keyframes flipFish{
  0%{
    transform: rotateX(0deg);
  }
  50%{
    transform: rotateX(90deg);
  }
  100%{
    transform: rotateX(0deg);
  }
}