body, html, #root{
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100%;
  width: 100%;
}

.flip{
  animation-name: flipFish;
  animation-duration: 0.3s;
  animation-timing-function: linear;
}

@keyframes flipFish{
  0%{
    transform: rotateX(0deg);
  }
  50%{
    transform: rotateX(90deg);
  }
  100%{
    transform: rotateX(0deg);
  }
}
#correct{
background-color: rgba(0, 255, 0, 0);
position: absolute;
right: 0;
height: 84.5%;
width: 22.5%;
}
#wrong{
background-color: rgba(255, 0, 0, 0);
position: absolute;
left: 25%;
height: 84.5%;
width: 22.5%;
}